<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
<title>
	{% if request.session.lang == "en" %}
        Bachat Gat
     {% else %}
		बचत गट
     {% endif %}
</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Other1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/bootstrap.min.css">
<link href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/news.css">
<!--<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/news_responsive.css">-->
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/services.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/common.css">
<!--<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/services_responsive.css">-->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

td {

    text-align: left;
    padding: 8px;
    border: 2px solid black;
}

th {

    text-align: left;
    padding: 8px;
    border: 2px solid black;
    color: #441c1c;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.dropbtn {


    font-size: 16px;
    background-color: #f5f3f0;
}

.dropdown {
    position: relative;

}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


</style>
</head>
<body style="background-image:url('https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/skulls.png');">
<form name="home" action="#" method="POST">
{% csrf_token %}

<div class="super_container">

	<!-- Header -->

	<header class="header trans_200">

		<!-- Top Bar -->
		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">

							<div class="top_bar_item" style="color:#220aa7; height: 15px; width: 600px; margin-left: 1px; font-size:200%; font-family: Verdana; text-shadow: 2px 2px 2px ; right:100px">{% if request.session.lang == "en" %}SARAVALI GRAMPANCHAYAT{% else %}सरावली ग्रामपंचायत{% endif %}</div>


						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="">

								<nav class="main_nav navbar navbar-light navbar-expand-md bg-faded justify-content-left">
								    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">

										<a class="nav-link" href="{% url 'home' %}">
											{% if request.session.lang == "en" %}Home {% else %}होम {% endif %}
										</a>
									</li>
									 <li class="nav-item">
										<a class="nav-link" href="{% url 'certificates' %}">
											{% if request.session.lang == "en" %}Certificates {% else %}दाखले {% endif %}
										</a>
									</li>

									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.session.lang == "en" %}Members {% else %}सदस्य {% endif %}
        </a>

										<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown1">
												<a href="{% url 'electedMember' %}">
											{% if request.session.lang == "en" %}Elected Members {% else %}निवडून आलेले सदस्य {% endif %}
												</a>
												<a href="{% url 'workers' %}">
											{% if request.session.lang == "en" %}Workers {% else %}कामगार {% endif %}
												</a>

												<a href="{% url 'committees' %}">
											{% if request.session.lang == "en" %}Committees {% else %}समिती {% endif %}
												</a>
											</div>

									</li>
									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.session.lang == "en" %}schemes {% else %}योजना {% endif %}</a>
											<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown2">
												<a href="{% url 'scm1' %}">
											{% if request.session.lang == "en" %}Sanjay Gandhi Niradhar Yojna {% else %}संजय गांधी निराधार योजना {% endif %}
												</a>
												<a href="{% url 'scm2' %}">
											{% if request.session.lang == "en" %}Pradhan Mantri Jeevan Jyoti Bima Yojana {% else %}प्रधानमंत्री जीवन ज्योती बिमा योजना {% endif %}
												</a>

												<a href="{% url 'scm3' %}">
											{% if request.session.lang == "en" %}Mazi Kanya Bhagyashree Yojna {% else %}माझी कन्या भाग्यश्री योजना {% endif %}
												</a>
												<a href="{% url 'scm4' %}">
											{% if request.session.lang == "en" %}Janani Suraksha Yojana{% else %}जननी सुरक्षा योजना {% endif %}
												</a>
												<a href="{% url 'scm5' %}">
											{% if request.session.lang == "en" %}Bal Sangopan Yojana{% else %}बाल संगोपन योजना {% endif %}
												</a>
												<a href="{% url 'scm6' %}">
											{% if request.session.lang == "en" %}Term Loan Scheme{% else %}मुदती कर्ज योजना {% endif %}
												</a>

										</div>
									</li>


									<li class="nav-item">
										<a class="nav-link" href="{% url 'developmentPlan' %}">
											{% if request.session.lang == "en" %}Development Plan{% else %}विकास आराखडा {% endif %}
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'photoGallery' %}">
											{% if request.session.lang == "en" %}Photo Gallery {% else %}फोटो गॅलरी {% endif %}
										</a>
									</li>
									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.session.lang == "en" %}Other{% else %}इतर {% endif %}</a>
										<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown3">
												<a href="{% url 'other1' %}">
											{% if request.session.lang == "en" %}Bachat Gat{% else %}बचत गट {% endif %}
												</a>
												<a href="{% url 'other2' %}">
											{% if request.session.lang == "en" %}Anganwadi{% else %}अंगणवाडी {% endif %}
												</a>

												<a href="{% url 'other3' %}">
											{% if request.session.lang == "en" %}Hospitals{% else %}हॉस्पिटल {% endif %}
												</a>
												<a href="{% url 'other4' %}">
											{% if request.session.lang == "en" %}Schools{% else %}शाळा {% endif %}
												</a>
												<a href="{% url 'other5' %}">
											{% if request.session.lang == "en" %}TantaMukti Committee{% else %}तंटामुक्ती समिती {% endif %}
												</a>
												<a href="{% url 'other6' %}">
											{% if request.session.lang == "en" %}Factories{% else %}कारखाने {% endif %}
												</a>
												</a>
												<a href="{% url 'other7' %}">
											{% if request.session.lang == "en" %}Water Timings{% else %}पाण्याची वेळ {% endif %}
												</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'map' %}">
											{% if request.session.lang == "en" %}Map {% else %}नकाशा {% endif %}
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'faq' %}">
											{% if request.session.lang == "en" %}FAQ {% else %}प्रश्न आणी तक्रारी{% endif %}
										</a>
									</li>

									<li>
<div class="form-inline my-2 my-lg-0">
	{% if request.session.lang  == "en" %}
								  	<select class="form-control text-dark" name="selector" onchange="this.form.submit()">
												<option value="en" selected>English</option>
												<option value="marathi">मराठी</option>
											</select>
												{% else %}
											<select  class="form-control text-dark" name="selector" onchange="this.form.submit()">
												<option value="en">English</option>
												<option value="marathi" selected>मराठी</option>
										  	</select>{% endif %}
										</div>
									</li>

								</ul>


							</div>
							</nav>
							<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="logo_container_outer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="logo_container" style="height: 75px; width: 75px; background-image:url('https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/logo.jpg');">

						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/bachat.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title" style="height: 70px;"><span style="font-family: georgia">{% if request.session.lang  == "en" %}Saravali Grampanchayat{% else %}सरावली ग्रामपंचायत {% endif %}</span>{% if request.session.lang  == "en" %}Bachat Gat{% else %}बचत गट{% endif %}</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Posts -->
				<div class="col-lg-8">
					<div>
						{% if request.session.lang  == "en" %}
                        <h3 style="font-family: Arial Black">Bachat Gat Information </h3>
						<table style="margin-top:40px;">
							<tr>
								<th>Bachat Gat Name</th>
								<th>Head</th>
								<th>Anganwadi  and Village Name</th>
							<tr>
								<td>Prajakta Bachat Gat</td>
								<td>Harikala Keshavraj Thakur</td>
								<td>Sanjaynagar</td>
							</tr>
							<tr>
								<td>Bhumi Bachat Gat</td>
								<td>Kanta Somnath Lingam</td>
								<td>Bhaiyyapada Siddharthnagar</td>
							</tr>
							<tr>
								<td>Aditi Bachat Gat</td>
								<td>Minakshi Dinesh Nehate</td>
								<td>Shukla Compound</td>
							</tr>
							<tr>
								<td>Maitri Bachat Gat</td>
								<td>Kunda Dagadu Jadhav</td>
								<td>Bhagwannagar</td>
							</tr>
							<tr>
								<td>Maher Bachat Gat</td>
								<td>Kasabai Shinde</td>
								<td>Dhodipada</td>
							</tr>
							<tr>
								<td>Aadarsh Bachat Gat</td>
								<td>Shaila Rajesh Sankhe</td>
								<td>Awadhnagar</td>
							</tr>
							<tr>
								<td>Renuka Bachat Gat</td>
								<td>Rekha Dilip Sapkal</td>
								<td>Saravali and Valmikinagar</td>
							</tr>
							<tr>
								<td>Safal Bachat Gat</td>
								<td>Reshma Macchi</td>
								<td>Macchipada</td>

							</tr>
							<tr>
								<td>Swami Samarth Bachat Gat</td>
								<td>Priyanka Praful Gharat</td>
								<td>Saravali</td>
							</tr>
							<tr>
								<td>Radha Krishna Bachat Gat</td>
								<td>Rohini Meghan Patil</td>
								<td>Saravali</td>
							</tr>
							<tr>
								<td>Sudarshan Mahila Bachat Gat</td>
								<td>Manasi Manoj Gharat</td>
								<td>Saravali</td>
							</tr>
							<tr>
								<td>Shrawani Mahila Bachat Gat</td>
								<td>Jayanti Santosh Mahanto</td>
								<td>Sanjaynagar</td>
							</tr>
							<tr>
								<td>Upasana Mahila Bachat Gat</td>
								<td>Shanta Rajaram Solkar</td>
								<td>Sanjaynagar</td>
							</tr>
						</table>
						{% else %}
						<h3 style="font-family: Arial Black">बचत गट माहिती </h3>
						<table style="margin-top:40px;">
							<tr>
								<th>बचत गट नाव</th>
								<th>मुख्य</th>
								<th>अंगणवाडी आणि गावं </th>
							<tr>
								<td>प्राजक्ता बचत गट</td>
								<td>हरीकला केशवराज ठाकूर</td>
								<td>संजयनगर</td>
							</tr>
							<tr>
								<td>भूमी बचत गट</td>
								<td>कांता सोमनाथ लींगम</td>
								<td>भैयापाडा सिद्धार्थनगर</td>
							</tr>
							<tr>
								<td>अदिती बचत गट</td>
								<td>मीनाक्षी दिनेश नेहते</td>
								<td>शुक्ला कंपाऊंड</td>
							</tr>
							<tr>
								<td>मैत्री बचत गट</td>
								<td>कुंदा दगडू जाधव</td>
								<td>भगवान नगर</td>
							</tr>
							<tr>
								<td>माहेर बचत गट</td>
								<td>कासाबाई शिंदे</td>
								<td>धोडीपाडा</td>
							</tr>
							<tr>
								<td>आदर्श बचत गट</td>
								<td>शैला राजेश संखे</td>
								<td>अवधनगर</td>
							</tr>
							<tr>
								<td>रेणुका बचत गट</td>
								<td>रेखा दिलीप सपकाळ</td>
								<td>सरावली आणि वाल्मिकी नगर</td>
							</tr>
							<tr>
								<td>सफल बचत गट</td>
								<td>रेश्मा माच्छी</td>
								<td>माच्छीपाडा</td>

							</tr>
							<tr>
								<td>स्वामी समर्थ बचत गट</td>
								<td>प्रियांका प्रफुल घरत</td>
								<td>सरावली</td>
							</tr>
							<tr>
								<td>राधा कृष्णा बचत गट</td>
								<td>रोहिणी मेघन पाटिल</td>
								<td>सरावली</td>
							</tr>
							<tr>
								<td>सुदर्शन महिला बचत गट</td>
								<td>मानसी मनोज घरत</td>
								<td>सरावली</td>
							</tr>
							<tr>
								<td>श्रावणी महिला बचत गट</td>
								<td>जयंती संतोष महांतो</td>
								<td>संजय नगर</td>
							</tr>
							<tr>
								<td>उपासना महिला बचत गट</td>
								<td>शांता राजाराम सोलकर</td>
								<td>संजय नगर</td>
							</tr>
						</table>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->

	<footer class="footer">
		<div class="footer_container">
			<div class="container">
				<div class="row">

					<!-- Footer - About -->
					<div class="col-lg-4 footer_col">
						<div class="footer_about">

							<div class="footer_about_text">
								<p>{% if request.session.lang == "en" %}Some Info About Village{% else %}गावा बद्दल काही माहिती{% endif %}</p>
							</div>
							<ul class="footer_about_list">
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/phone-call.svg" alt=""></div><span>8459619713</span></li>
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/envelope.svg" alt=""></div><span>saravaligrampanchayat2018@gmail.com</span></li>
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/placeholder.svg" alt=""></div>
									<span>{% if request.session.lang == "en" %}At/Post- Saravali, Boisar - Palghar Road{% else %}मु/पो. सरावली, बोईसर - पालघर रोड{% endif %}</span>
								</li>
							</ul>
						</div>
					</div>

					<!-- Footer - Links -->
					<div class="col-lg-4 footer_col">
						<div class="footer_links footer_column" style="padding-top:40px;">
							<div class="footer_title">{% if request.session.lang == "en" %}Useful Links{% else %}उपयुक्त लिंक्स{% endif %}</div>
							<ul>
								<li><a href="http://www.zppalghar.gov.in">{% if request.session.lang == "en" %}Zilha Parishad Palghar{% else %}पालघर जिल्हा परिषद{% endif %}</a></li>
								<li><a href="http://www.palghar.gov.in">{% if request.session.lang == "en" %}Palghar Collector Office{% else %}पालघर कलेक्टर ऑफिस{% endif %}</a></li>
								<li><a href="https://www.maharashtra.gov.in/1125/Home">{% if request.session.lang == "en" %}Maharashtra Government{% else %}महाराष्ट्र शासन{% endif %}</a></li>
								<li><a href="https://rdd.maharashtra.gov.in/1001/%E0%A4%AE%E0%A5%81%E0%A4%96%E0%A5%8D%E0%A4%AF-%E0%A4%AA%E0%A5%83%E0%A4%B7%E0%A5%8D%E0%A4%A0">{% if request.session.lang == "en" %}Gramvikas Maharashtra{% else %}ग्रामविकास महाराष्ट्र{% endif %}</a></li>


							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
        <div class="copyright">
			<div class="container">
				<div class="row">


					<div class="col">
						<div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">
							<div class="cr">Copyright © 2018 Saravali GramPanchayat Site is designed and maintained by Neoteric Technologies, Boisar</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</footer>
</div>

<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/js/jquery-3.2.1.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/popper.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/easing/easing.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/parallax-js-master/parallax.min.js"></script>
</form>
</body>
</html>
