<!DOCTYPE html>
<html lang="en">
<head>

<title>
	{% if request.session.lang == "en" %}
        Workers
     {% else %}
		कामगार
     {% endif %}
</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Workers">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/bootstrap.min.css">
<link href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/news.css">
<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/common.css">
<!--<link rel="stylesheet" type="text/css" href="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/news_responsive.css">-->
	<style>
		table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;
}

td {

    text-align: left;
    padding: 8px;
    border: 2px solid black;
}

th {

    text-align: left;
    padding: 8px;
    border: 2px solid black;
    color: #441c1c;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.dropbtn {


    font-size: 16px;
    background-color: #f5f3f0;
}

.dropdown {
    position: relative;

}



.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}



	</style>
</head>
<body style="background-image:url('https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/skulls.png');">
<form name="home" action="#" method="POST">
{% csrf_token %}

<div class="super_container">

	<!-- Header -->

	<header class="header trans_200">

		<!-- Top Bar -->
		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="top_bar_content d-flex flex-row align-items-center justify-content-start">

							<div class="top_bar_item" style="color:#220aa7; height: 15px; width: 600px; margin-left: 1px; font-size:200%; font-family: Verdana; text-shadow: 2px 2px 2px ; right:100px">{% if request.session.lang == "en" %}SARAVALI GRAMPANCHAYAT{% else %}सरावली ग्रामपंचायत{% endif %}</div>


						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Header Content -->
		<div class="header_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="">

								<nav class="main_nav navbar navbar-light navbar-expand-md bg-faded justify-content-left">
								    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">

										<a class="nav-link" href="{% url 'home' %}">
											{% if request.session.lang == "en" %}Home {% else %}होम {% endif %}
										</a>
									</li>
									 <li class="nav-item">
										<a class="nav-link" href="{% url 'certificates' %}">
											{% if request.session.lang == "en" %}Certificates {% else %}दाखले {% endif %}
										</a>
									</li>

									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if request.session.lang == "en" %}Members {% else %}सदस्य {% endif %}
        </a>

										<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown1">
												<a href="{% url 'electedMember' %}">
											{% if request.session.lang == "en" %}Elected Members {% else %}निवडून आलेले सदस्य {% endif %}
												</a>
												<a href="{% url 'workers' %}">
											{% if request.session.lang == "en" %}Workers {% else %}कामगार {% endif %}
												</a>

												<a href="{% url 'committees' %}">
											{% if request.session.lang == "en" %}Committees {% else %}समिती {% endif %}
												</a>
											</div>

									</li>
									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.session.lang == "en" %}schemes {% else %}योजना {% endif %}</a>
											<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown2">
												<a href="{% url 'scm1' %}">
											{% if request.session.lang == "en" %}Sanjay Gandhi Niradhar Yojna {% else %}संजय गांधी निराधार योजना {% endif %}
												</a>
												<a href="{% url 'scm2' %}">
											{% if request.session.lang == "en" %}Pradhan Mantri Jeevan Jyoti Bima Yojana {% else %}प्रधानमंत्री जीवन ज्योती बिमा योजना {% endif %}
												</a>

												<a href="{% url 'scm3' %}">
											{% if request.session.lang == "en" %}Mazi Kanya Bhagyashree Yojna {% else %}माझी कन्या भाग्यश्री योजना {% endif %}
												</a>
												<a href="{% url 'scm4' %}">
											{% if request.session.lang == "en" %}Janani Suraksha Yojana{% else %}जननी सुरक्षा योजना {% endif %}
												</a>
												<a href="{% url 'scm5' %}">
											{% if request.session.lang == "en" %}Bal Sangopan Yojana{% else %}बाल संगोपन योजना {% endif %}
												</a>
												<a href="{% url 'scm6' %}">
											{% if request.session.lang == "en" %}Term Loan Scheme{% else %}मुदती कर्ज योजना {% endif %}
												</a>

										</div>
									</li>


									<li class="nav-item">
										<a class="nav-link" href="{% url 'developmentPlan' %}">
											{% if request.session.lang == "en" %}Development Plan{% else %}विकास आराखडा {% endif %}
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'photoGallery' %}">
											{% if request.session.lang == "en" %}Photo Gallery {% else %}फोटो गॅलरी {% endif %}
										</a>
									</li>
									 <li class="nav-item dropdown">
										  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% if request.session.lang == "en" %}Other{% else %}इतर {% endif %}</a>
										<div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown3">
												<a href="{% url 'other1' %}">
											{% if request.session.lang == "en" %}Bachat Gat{% else %}बचत गट {% endif %}
												</a>
												<a href="{% url 'other2' %}">
											{% if request.session.lang == "en" %}Anganwadi{% else %}अंगणवाडी {% endif %}
												</a>

												<a href="{% url 'other3' %}">
											{% if request.session.lang == "en" %}Hospitals{% else %}हॉस्पिटल {% endif %}
												</a>
												<a href="{% url 'other4' %}">
											{% if request.session.lang == "en" %}Schools{% else %}शाळा {% endif %}
												</a>
												<a href="{% url 'other5' %}">
											{% if request.session.lang == "en" %}TantaMukti Committee{% else %}तंटामुक्ती समिती {% endif %}
												</a>
												<a href="{% url 'other6' %}">
											{% if request.session.lang == "en" %}Factories{% else %}कारखाने {% endif %}
												</a>
												</a>
												<a href="{% url 'other7' %}">
											{% if request.session.lang == "en" %}Water Timings{% else %}पाण्याची वेळ {% endif %}
												</a>
										</div>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'map' %}">
											{% if request.session.lang == "en" %}Map {% else %}नकाशा {% endif %}
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'faq' %}">
											{% if request.session.lang == "en" %}FAQ {% else %}प्रश्न आणी तक्रारी{% endif %}
										</a>
									</li>

									<li>
<div class="form-inline my-2 my-lg-0">
	{% if request.session.lang  == "en" %}
								  	<select class="form-control text-dark" name="selector" onchange="this.form.submit()">
												<option value="en" selected>English</option>
												<option value="marathi">मराठी</option>
											</select>
												{% else %}
											<select  class="form-control text-dark" name="selector" onchange="this.form.submit()">
												<option value="en">English</option>
												<option value="marathi" selected>मराठी</option>
										  	</select>{% endif %}
										</div>
									</li>

								</ul>


							</div>
							</nav>
							<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="logo_container_outer">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="logo_container" style="height: 75px; width: 75px; background-image:url('https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/logo.jpg');">

						</div>
					</div>
				</div>
			</div>
		</div>

	</header>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/workers.jpg" data-speed="0.8"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title" style="height: 70px;"><span style="font-family: georgia">{% if request.session.lang == "en" %}Saravali Grampanchayat {% else %}सरावली ग्रामपंचायत {% endif %}</span>{% if request.session.lang == "en" %} Workers{% else %} कामगार{% endif %}</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<!-- News Posts -->
				<div class="col-lg-8">

					<div>
						{% if request.session.lang == "en" %}
                        <h4 style="font-family: Arial Black">Workers in Saravali Grampanchayat </h4>
						<table style="margin-bottom:30px; margin-top:40px;">
							<tr>
								<th>Members Of Grampanchayat</th>
								<th>Position</th>

							<tr>
								<td>Gopinath Aatmaram Mitana</td>
								<td>Senior Clerk</td>

							</tr>
							<tr>
							    <td>Baban Anant Gharat</td>
								<td>Clerk</td>

							</tr>
							<tr>
							    <td>Manoj Damodar Raut</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Daksha Vishnu Khadilkar</td>
								<td>Clerk</td>

							</tr>
							<tr>
							    <td>Ganesh Krishna Patil</td>
								<td>Clerk</td>

							</tr>
							<tr>
							    <td>Santosh Kamalkar Vayada</td>
								<td>Peon</td>

							</tr>
							<tr>
							    <td>Deepak Ramesh Dhodi</td>
								<td>Water Revenue Department</td>

							</tr>
							<tr>
							    <td>Kishor Aravind Gujjar</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Seema Sunil Ghude</td>
								<td>Water Revenue Clerk</td>

							</tr>
							<tr>
							    <td>Chandu Dharma Valshi</td>
								<td>Fitter</td>

							</tr>
							<tr>
							    <td>Dinkar Krishna Thakare</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Dinesh Yashwant Dhodi</td>
								<td>Exaction Clerk</td>

							</tr>
							<tr>
							    <td>Uday Sadanand Mali</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Sanjay Vitthal Vavre</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Maruti Dadu Chaugule</td>
								<td>Wallman</td>

							</tr>
                            <tr>
							    <td>Ganesh Dilip Sutar</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Rajesh Rawaji Bhekare</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Baliram Soma Pilena</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Sitaram Babu Paradhi</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Mahendra Risha Welpada</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Navshya Kalya Pilena</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Jagdish Raja Tokare</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Sunil Nilesh Hadal</td>
								<td>Peon</td>

							</tr>
							<tr>
							    <td>Jayesh Raghunath Ebhad</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Vilas Pratap Lilka</td>
								<td>Peon</td>

							</tr>
							<tr>
							    <td>Sakshi Sachin Gharat</td>
								<td>Computer Operator</td>

							</tr>
							<tr>
							    <td>Ajay Moreshwar Raut</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Rajesh Muralidhar Sardar</td>
								<td>Water Revenue Collector</td>

							</tr>
							<tr>
							    <td>Sanket Santosh Sawant</td>
								<td>House Tax Collector</td>

							</tr>
							<tr>
							    <td>Hitesh Ravindra Parab</td>
								<td>Water Revenue Collector</td>

							</tr>
							<tr>
							    <td>Sadashiv Shankar Thanekar</td>
								<td>Water Revenue Helpe</td>

							</tr>
							<tr>
							    <td>Arjun Shubhkaran Pandey</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Sunil Rawate</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Ashok Damu Pawar</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Umesh Raut</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Anil Sakharam Wavare</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Dashrath Ganpat Tokare</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Shyam Saheb Sonawane</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Prakash Madhu Lohar</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Prakash Kalya Khatali</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Jeevan Shantaram Kolhekar</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Dinesh Bala Dauda</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Raju Madhav Bhoir</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Sunil Dattatrey Raut</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Ganesh Jagu Mere</td>
								<td>Driver</td>

							</tr>
							<tr>
							    <td>Ranjan Suresh Dhodi</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Nagesh Sunil Wavare</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Ramesh Vishnu Gowari</td>
								<td>Health Department</td>

							</tr>
							<tr>
							    <td>Dinesh Suresh Mere</td>
								<td>Health Department</td>

							</tr>

							<tr>
							    <td>Devendra Risha Welpada</td>
								<td>Water Revenue Helper</td>

							</tr>
							<tr>
							    <td>Himesh Uday Raut</td>
								<td>Computer Operator</td>

							</tr>
							<tr>
							    <td>Bhai Vitthal Thakare</td>
								<td>Home Tax Collector</td>

							</tr>
							<tr>
							    <td>Rukesh Yashwant Gharat</td>
								<td>Home Tax Collector</td>

							</tr>
							<tr>
							    <td>Mahesh Vijay Parab</td>
								<td>Home Tax Collector</td>

							</tr>
							<tr>
							    <td>Santosh Namdeo Raut</td>
								<td>Home Tax Collector</td>

							</tr>
							<tr>
							    <td>Prabhakar Laxman Patil</td>
								<td>Electrician</td>

							</tr>
							<tr>
							    <td>Manju Ganapat Lade</td>
								<td>Office Cleaner</td>

							</tr>
						</table>
					</div>
					{% else %}
					<h4 style="font-family: Arial Black">सरावली ग्रामपंचायतीचे कामगार</h4>
						<table style="margin-bottom:30px; margin-top:40px;">
							<tr>
								<th>सदस्य</th>
								<th>पद</th>

							<tr>
								<td>गोपीनाथ आत्माराम मितना</td>
								<td>वरिष्ठ लिपिक</td>

							</tr>
							<tr>
							    <td>बबन अनंत घरत</td>
								<td>लिपिक</td>

							</tr>
							<tr>
							    <td>मनोज दामोदर राऊत</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>दक्षा विष्णु खाडिलकर</td>
								<td>लिपिक</td>

							</tr>
							<tr>
							    <td>गणेश कृष्ण पाटिल</td>
								<td>लिपिक</td>

							</tr>
							<tr>
							    <td>संतोष कमलकर वयाडा</td>
								<td>शिपाई</td>

							</tr>
							<tr>
							    <td>दीपक रमेश धोडि</td>
								<td>पाणीपुरवठा वसूली</td>

							</tr>
							<tr>
							    <td>किशोर अरविंद गुज्जर</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>सीमा सुनील घुडे</td>
								<td>पाणीपुरवठा वसूली लिपिक</td>

							</tr>
							<tr>
							    <td>चंदू धर्मा वालशी</td>
								<td>फिटर</td>

							</tr>
							<tr>
							    <td>दिनकर कृष्ण ठाकरे</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>दिनेश यशवंत धोडि</td>
								<td>वसूली कारकुन</td>

							</tr>
							<tr>
							    <td>उदय सदानंद माळी</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>संजय विठ्ठल वावरे</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>मारुती दादू चौघुले</td>
								<td>वॉलमान</td>

							</tr>
                            <tr>
							    <td>गणेश दिलीप सुतार</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>राजेश रावजी भेकरे</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>बळीराम सोमा पिलेना</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>सीताराम बाबू पारधी</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>महेंद्र रिष्या वेलपाडा</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>नवश्या कल्या पिलेना</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>जगदीश राजा टोकरे</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>सुनील निलेश हडळ</td>
								<td>शिपाई</td>

							</tr>
							<tr>
							    <td>जयेश रघुनाथ ईभाड</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>विलास प्रताप लीलका</td>
								<td>शिपाई</td>

							</tr>
							<tr>
							    <td>साक्षी सचिन घरत</td>
								<td>संगणक ऑपरेटर</td>

							</tr>
							<tr>
							    <td>अजय मोरेश्वर राऊत</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>राजेश मुरलीधर सरदार</td>
								<td>पाणीपुरवठा वसूली</td>

							</tr>
							<tr>
							    <td>संकेत संतोष राऊत</td>
								<td>घरपट्टी वसुली</td>

							</tr>
							<tr>
							    <td>हितेश रवींद्र परब</td>
								<td>पाणीपुरवठा वसूली</td>

							</tr>
							<tr>
							    <td>सदाशिव शंकर ठाणेकर</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>अर्जुन शुभकरण पांडे</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>सुनील रावते</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>अशोक दामू पवार</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>उमेश राऊत</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>अनिल सखाराम ववरे</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>दशरथ गणपत टोकरे</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>श्याम साहेब सोनवणे</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>प्रकाश मधू लोहार</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>प्रकाश कल्या खताली</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>जीवन शांताराम कोल्हेकर</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>दिनेश बाला दौडा</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>राजू माधव भोईर</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>सुनील दत्तात्रय राऊत</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>गणेश जगू मेरे</td>
								<td>चालक</td>

							</tr>
							<tr>
							    <td>रंजन सुरेश धोडि</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>नागेश सुनील वावरें</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>रमेश विष्णु गोवारी</td>
								<td>आरोग्य विभाग</td>

							</tr>
							<tr>
							    <td>दिनेश सुरेश मेरे</td>
								<td>आरोग्य विभाग</td>

							</tr>

							<tr>
							    <td>देवेंद्र रिषा वेलपडा</td>
								<td>पाणीपुरवठा हेल्पर</td>

							</tr>
							<tr>
							    <td>हिमेश उदय राऊत</td>
								<td>संगणक ऑपरेटर</td>

							</tr>
							<tr>
							    <td>भाई विठ्ठल ठाकरे</td>
								<td>घरपट्टी वसुली</td>

							</tr>
							<tr>
							    <td>रुकेश यशवंत घरत</td>
								<td>घरपट्टी वसुली</td>

							</tr>
							<tr>
							    <td>महेश विजय परब</td>
								<td>घरपट्टी वसुली</td>

							</tr>
							<tr>
							    <td>संतोष नामदेव राउत</td>
								<td>घरपट्टी वसुली</td>

							</tr>
							<tr>
							    <td>प्रभाकर लक्ष्मण पाटील</td>
								<td>इलेक्टीशियन</td>

							</tr>
							<tr>
							    <td>मंजु गणपत लाडे</td>
								<td>कार्यालय सफाई</td>

							</tr>
						</table>
					{% endif %}
					</div>


				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="footer_container">
			<div class="container">
				<div class="row">

					<!-- Footer - About -->
					<div class="col-lg-4 footer_col">
						<div class="footer_about">

							<div class="footer_about_text">
								<p>{% if request.session.lang == "en" %}Some Info About Village{% else %}गावा बद्दल काही माहिती{% endif %}</p>
							</div>
							<ul class="footer_about_list">
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/phone-call.svg" alt=""></div><span>8459619713</span></li>
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/envelope.svg" alt=""></div><span>saravaligrampanchayat2018@gmail.com</span></li>
								<li><div class="footer_about_icon"><img src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/images/placeholder.svg" alt=""></div>
									<span>{% if request.session.lang == "en" %}At/Post- Saravali, Boisar - Palghar Road{% else %}मु/पो. सरावली, बोईसर - पालघर रोड{% endif %}</span>
								</li>
							</ul>
						</div>
					</div>

					<!-- Footer - Links -->
					<div class="col-lg-4 footer_col">
						<div class="footer_links footer_column" style="padding-top:40px;">
							<div class="footer_title">{% if request.session.lang == "en" %}Useful Links{% else %}उपयुक्त लिंक्स{% endif %}</div>
							<ul>
								<li><a href="http://www.zppalghar.gov.in">{% if request.session.lang == "en" %}Zilha Parishad Palghar{% else %}पालघर जिल्हा परिषद{% endif %}</a></li>
								<li><a href="http://www.palghar.gov.in">{% if request.session.lang == "en" %}Palghar Collector Office{% else %}पालघर कलेक्टर ऑफिस{% endif %}</a></li>
								<li><a href="https://www.maharashtra.gov.in/1125/Home">{% if request.session.lang == "en" %}Maharashtra Government{% else %}महाराष्ट्र शासन{% endif %}</a></li>
								<li><a href="https://rdd.maharashtra.gov.in/1001/%E0%A4%AE%E0%A5%81%E0%A4%96%E0%A5%8D%E0%A4%AF-%E0%A4%AA%E0%A5%83%E0%A4%B7%E0%A5%8D%E0%A4%A0">{% if request.session.lang == "en" %}Gramvikas Maharashtra{% else %}ग्रामविकास महाराष्ट्र{% endif %}</a></li>
								<!--<li><a href="https://b6x62pxn8f.execute-api.ap-south-1.amazonaws.com/dev">{% if request.session.lang == "en" %}Saravali Shivsena{% else %}सरावली शिवसेना{% endif %}</a></li>-->

							</ul>
						</div>
					</div>


				</div>
			</div>
		</div>
        <div class="copyright">
			<div class="container">
				<div class="row">


					<div class="col">
						<div class="copyright_content d-flex flex-lg-row flex-column align-items-lg-center justify-content-start">
							<div class="cr">Copyright © 2018 Saravali GramPanchayat Site is designed and maintained by Neoteric Technologies, Boisar</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</footer>
</div>

<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/js/jquery-3.2.1.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/popper.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/easing/easing.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/grampanchayat/static/plugins/parallax-js-master/parallax.min.js"></script>
</form>
</body>
</html>